.detail-container {
  text-align: center; /* Centrer le texte */
  padding: 20px; /* Espacement intérieur */

}

h1 {
  display: inline-block;
  background-color: #16959f; /* Couleur de fond de l'en-tête */
  color: white; /* Couleur du texte */
  padding: 10px 20px; /* Espacement intérieur de l'en-tête */
  border-radius: 8px; /* Bords arrondis */
  text-align: center; /* Centrer le texte */
  font-family: 'Arial', sans-serif; /* Famille de police */
  font-size: 1.5rem; /* Taille de la police */
  margin-bottom: 20px; /* Espace en dessous du titre */
}

.country-info {
  margin-bottom: 20px; /* Espace en dessous des informations du pays */
}

canvas {
  width: 100%; /* Largeur à 100% */
  height: 400px; /* Hauteur fixe du canvas */
}

button {
  background-color: #16959f; /* Couleur de fond du bouton */
  color: white; /* Couleur du texte du bouton */
  padding: 10px 20px; /* Espacement intérieur du bouton */
  border: none; /* Pas de bordure */
  border-radius: 8px; /* Bords arrondis */
  cursor: pointer; /* Pointeur en forme de main */
  font-size: 1rem; /* Taille de la police */
  margin-top: 20px; /* Espace au-dessus du bouton */
}

button:hover {
  background-color: #127a76; /* Couleur de fond lors du survol */
}

/* Conteneur pour les boîtes d'informations */
.country-info {
  display: flex; /* Afficher les boîtes en ligne */
  justify-content: space-evenly; /* Les espacer uniformément */
  margin-top: 20px; /* Espacement au-dessus des boîtes */
}

/* Style pour les boîtes d'information */
.info-box {
  border: 2px solid #16959f; /* Couleur et épaisseur de la bordure */
  border-radius: 8px; /* Bords arrondis */
  padding: 15px; /* Espacement intérieur de la boîte */
  text-align: center; /* Centrer le texte */
  width: 150px; /* Largeur fixe de la boîte */
  font-family: 'Arial', sans-serif; /* Famille de police */
}

.info-box .number {
  font-size: 1.5rem; /* Taille plus grande de la police pour le numéro */
  font-weight: bold; /* Numéro en gras */
  color: black; /* Couleur du texte en noir */
}

/* Media Query pour les petits écrans (mode mobile) */
@media screen and (max-width: 768px) {
  .country-info {
    display: block; /* Passe en mode bloc */
  }

  .info-box {
    width: calc(100% - 40px); /* Largeur ajustée pour tenir compte du padding/margin */
    margin: 0 auto 20px auto; /* Centrer et ajouter un espace entre les boîtes */
  }
}


