<div class="dashboard-container">
  <!-- Je crée un conteneur div avec une classe CSS pour la mise en forme du tableau de bord -->
  <h1>Medals per Country</h1>
  <!-- J'affiche un titre pour le tableau de bord des Jeux Olympiques -->
  <div class="box-container">
    <div class="info-box">
      <p>Number of JOs:</p>
      <!-- J'affiche un paragraphe avec le texte "Number of JOs:" -->
      <div class="number">

      </div>
    </div>
    <div class="info-box">
      <h2>Number of countries : {{olympicData.length}}</h2>
      <div class="number">

      </div>
    </div>
  </div>
  <div *ngIf="olympicData && olympicData.length">
    <!-- J'utilise une directive conditionnelle pour vérifier si les données olympicData existent et ont une longueur supérieure à 0 -->
    <canvas id="medalsChart"></canvas>
    <!-- J'insère un élément canvas avec un id pour afficher le graphique des médailles -->
  </div>
</div>

