.dashboard-container {
  text-align: center;
}

canvas {
  width: 100%;
  height: 400px;
}

h1 {
  background-color: #16959f; /* Couleur de fond pour l'en-tête */
  color: white; /* Couleur du texte */
  padding: 10px 20px; /* Espacement intérieur de l'en-tête */
  border-radius: 8px; /* Bords arrondis */
  text-align: center; /* Centrer le texte */
  font-family: 'Arial', sans-serif; /* Famille de police */
  font-size: 1.5rem; /* Taille de la police */
  display: inline-block; /* Garder la boîte aussi large que le contenu */
  margin-bottom: 20px; /* Espacement en dessous du titre */
}

/* Conteneur pour les boîtes */
.box-container {
  display: flex; /* Afficher les boîtes en ligne */
  justify-content: center; /* Les espacer uniformément */
  margin-top: 20px; /* Espacement au-dessus des boîtes */
  gap: 50px;
}

/* Style pour les boîtes d'information */
.info-box {
  border: 2px solid #16959f; /* Couleur et épaisseur de la bordure */
  border-radius: 8px; /* Bords arrondis */
  padding: 15px; /* Espacement intérieur de la boîte */
  text-align: center; /* Centrer le texte */
  width: 150px; /* Largeur fixe de la boîte */
  font-family: 'Arial', sans-serif; /* Famille de police */
}

.info-box h2 {
  font-size: 1rem; /* Taille plus petite de la police pour le label */
  color: #555555; /* Couleur gris clair */
  margin: 0; /* Supprimer la marge par défaut */
  margin-bottom: 10px; /* Espacement en dessous du label */
}

.info-box .number {
  font-size: 1.5rem; /* Taille plus grande de la police pour le numéro */
  font-weight: bold; /* Numéro en gras */
  color: black; /* Couleur du texte noir */
}

/* Media Query pour les petits écrans (mode mobile) */
@media screen and (max-width: 768px) {
  .country-info {
    display: block; /* Passe en mode bloc */
  }

  .info-box {
    align-items: center;
    max-width: 100%; /* Chaque boîte occupe toute la largeur */
    margin-bottom: 20px; /* Ajoute un espacement entre les boîtes */
  }

}
